.head {
  font-size: 40px;
  line-height: 1.2em;
  color: #12114a;
  font-weight: 700;
  margin-bottom: 60px;
}
.cardbox {
  margin-bottom: 40px;
  visibility: visible;
  animation-name: fadeInUp;
  background-color: #FAFAFA;
}
.innerbox {
  padding: 0 40px 35px;
  background-color: #fafafa;
  border-radius: 10px;
}
.infobox {
  margin: 0 auto;
  max-width: 230px;
  width: 100%;
  background-color: #ffffff;
  transform: translateY(-50%);
  min-height: 80px;
  padding-top: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 18px 28px rgb(11 11 77 / 14%);
  margin-left: 10%;
}
.h4 {
  font-size: 18px;
  line-height: 25px;
  color: #12114a;
  font-weight: 500;
  margin-bottom: 18px;
}
.date {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #f20487;
  font-weight: 500;
  margin-bottom: 5px;
}
.imagebox {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  overflow: hidden;
}
.cardbox a {
  text-decoration: none;
  color: black;
}
.cardbox a:hover {
  color: #f20487;
}
.linkbox {
  font-size: 15px;
  line-height: 25px;
  color: #12114a;
  font-weight: 500;
}
