.title {
  position: relative;
  font-size: 40px;
  line-height: 1.2em;
  color: #12114a;
  font-weight: 700;
}

.iconbox {
  position: relative;
  display: block;
  margin-bottom: 40px;
}
.icon {
background: linear-gradient(to bottom, rgba(25,252,254,1) 0%,rgba(47,203,237,1) 100%);
  position: relative;
  display: inline-block;
  font-size: 25px;
  line-height: 58px;
  height: 58px;
  width: 58px;
  color: #ffffff;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 9px 29px rgb(37 37 37 / 9%);
}
.iconboxtitle {
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 1.2em;
  color: #12114a;
  font-weight: 700;
  margin-bottom: 20px;
}
.text{
    position: relative;
    display: block;
    font-size: 15px;
    line-height: 24px;
    color: #707070;
    font-weight: 400;
    margin-bottom: 25px;
    cursor: default;
}
.linkbox a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    color: #f20487;
    font-weight: 500;
    transition: all 300ms ease;
    text-decoration: none;
}