.head {
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 700;
}
.pricecard {
  background-color: #ffffff;
  padding: 55px 0 60px;
  text-align: center;
  transition: all 300ms ease;
  color: black;
}
.price {
  display: block;
  font-size: 50px;
  line-height: 1em;
  color: #12114a;
  font-weight: 400;
  margin-bottom: 33px;
}
.title {
  font-size: 25px;
  line-height: 1.2em;
  color: #12114a;
  font-weight: 700;
  margin-bottom: 20px;
}

.btnbox a{
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    margin-top: 40px;
    color: #707070;
    font-weight: 500;
    border: 1px solid #d7d7d7;
    padding: 14px 30px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 300ms ease;
    text-decoration: none;
    width: 150px;
}

.btnbox:hover a{
    background-color: #e83e8c;
    color: white;
}
.floattext{
  right: 60px;
  top: 40px;
  color: #ffffff;
  font-size: 150px;
  position: absolute;
  line-height: 1em;
  font-weight: 900;
  opacity: 0.03;
  text-transform: uppercase;
}

@media screen  and (max-width: 1000px) {
  .floattext{
    display: none;
  }
}