.section {
  position: relative;
  padding: 140px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #12114a;
  margin-top: 10px;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

.head {
  color: #ffffff;
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 700;
  margin-bottom: 60px;
}
.clientlogo {
  text-align: center;
  margin-bottom: 60px;
  margin: 0 14px 60px;
}
.clientlogo img {
  position: relative;
  max-width: 100%;
  height: auto;
  opacity: 0.4;
  transition: all 300ms ease;
}

.clientlogo img:hover {
  opacity: 1;
}

.floattext {
  right: -10px;
  top: 30px;
  color: #ffffff;
  opacity: 0.02;
  font-size: 150px;
  line-height: 1em;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
}
.section:before {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url(../public/images/section6/pattern-1.png);
  background-position: right top;
  content: "";
  opacity: 0.12;
}

.btnbox {
  text-align: center;
  margin-top: 10px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  color: #12114a;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 40px 15px;
  background-color: #ffffff;
}
.btnbox:hover {
  cursor: pointer;
  color: white;
  background-color: #e83e8c;
}
